.big-img{
    height: 88vh;
    width: 100%;
}

h1{
    color: white;
}

.quem-somos{
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #f07420;
    height: fit-content;
}

.quem-somos-txt{
    padding-right: 5vh;
    padding-left: 5vh;
}

.quem-somos-paragraph{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding-bottom: 1vh;
}

.mini-logo{
    padding: 5vh;
}

.name{
    color: black;
}

.about-us-btn{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    
}